body {
  background: darkgrey;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 1.5rem;
  }
}

.media-container {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  width: 500px;
  height: 500px;
  max-width: 96%;
  aspect-ratio: 1/1;
  text-align: center;
  box-shadow: 0 10px 10px black;
}

img {
  display: none;
  max-width: 96%;
  max-height: 96%;
  object-fit: contain;
  box-shadow: 0 5px 10px black;
}

iframe {
  display: none;
  max-width: 90%;
}

input {
  margin-top: 30px;
}

.btn {
  background: gray;
  margin: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  transition: all 0.1s;
  box-shadow: 0 5px 5px black;
}

.btn:hover {
  transform: translateY(1px);
}

.btn:active {
  transform: translateY(-2px);
}

.active {
  display: block;
}